
# PYTHON / DJANGO

__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
venv/
env/
ENV/

# Django files
media/
staticfiles/


# ENVIRONMENT VARIABLES

.env


# NODE / FRONTEND

node_modules/
dist/
build/


# VS CODE / IDEs

.vscode/
.idea/


# LOGS

*.log


# OPERATING SYSTEM FILES

.DS_Store
Thumbs.db

# COVERAGE / TESTING

coverage/
htmlcov/


# CACHE

.cache/