
# PYTHON / DJANGO
__pycache__/
*.pyc
.env
venv/
env/
*.sqlite3
.DS_Store


# Virtual environments
venv/
env/
ENV/

# Django files
media/
staticfiles/


# ENVIRONMENT VARIABLES

.env

# Corregido:La parte de Django en parte de usuarios se uso en usuarios; sin embargo 
# NODE / FRONTEND

#node_modules/
#dist/
#build/


# VS CODE / IDEs

.vscode/
.idea/


# LOGS

*.log


# OPERATING SYSTEM FILES

.DS_Store
Thumbs.db

# COVERAGE / TESTING

coverage/
htmlcov/


# CACHE

.cache/