DEBUG=False
ALLOWED_HOSTS=*
DJANGO_SECRET_KEY=cambia_esto_por_algo_unico
JWT_SECRET=ferreteria_super_secret_key_2024
JWT_EXPIRES_HOURS=8

# La MISMA base de datos de Neon que ya usa (o usaba) tu backend Express
DATABASE_URL=postgresql://neondb_owner:npg_7VCpTt0xHEfQ@ep-small-hill-awvoo93j-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Mismo Gmail/contraseña de aplicación que ya tenías configurados
EMAIL_USER=herreravielka202880128.6@gmail.com
EMAIL_PASS=smcf xjfj ddzq xnxm
